<script>
  angular.module('app')
    .controller('ExampleController', function($scope) {
      $scope.vm = {
        firstName: 'faceleg',
        hasFirstName: true
      };
    });
</script>

<div ng-controller="ExampleController">
  <label>
    <input type="checkbox" ng-model="vm.hasFirstName" />
    Got a first name?
  </label>
  <input ng-if="vm.hasFirstName" ng-model="vm.firstName"/>
</div>

<!-- OR USE CONTROLLER-AS -->

<script>
  angular.module('app')
    .controller('ExampleController', function($scope) {
      this.firstName = 'faceleg';
      this.hasFirstName = true;
    });
</script>

<div ng-controller="ExampleController exampleController">
  <label>
    <input type="checkbox" ng-model="exampleController.hasFirstName" />
    Got a first name?
  </label>
  <input ng-if="exampleController.hasFirstName" ng-model="exampleController.firstName"/>
</div>
